.imageCarouselContainer {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    width: 800px;
    height: 600px;
}

.carouselImage {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0px, 0px, 40px gray;
}
.hidden {
    display: none;
}

h1 {
    align-items: center;
    position: absolute;
    top: -10rem;
}
h2 {
    align-items: center;
    position: absolute;
    top: -6rem;
}

.arrow {
    color: white;
    height: 2rem;
    width: 2rem;
    position: absolute;
    filter: drop-shadow(0px, 0px, 5px, gray);
    cursor: pointer;
}
.arrow-right{
    right: 1rem;
}
.arrow-left {
    left: 1rem;
}


.buttons {
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.button {
    width: .5rem;
    height: .5rem;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 0, 0, 5px, black;
    border-radius: 100%;
    margin: 0 .2rem;
    cursor: pointer;
}
.not-selected {
    background-color: rgb(99, 99, 99);
}

.imageFormContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
    top: -3.5rem;
}
.imageForm {
    display: flex;
    gap: 5px
}
.image-count-input {
    width: 22px;
}
.image-count-button {
    background-color: white;
    color: rgb(99, 99, 99);
    font-weight: 700;
    flex-basis: 1;
    width: 60px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid white;
}